.ctd-center {
    text-align: center;
    margin-top: 200px;
    margin-bottom: auto;    
}
.ltr-txt{
  font-family: "Times New Roman", Times, serif;
  font-size: 500%;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  line-height: 75px;
}

.poc-txt{
  font-family: "Times New Roman", Times, serif;
  font-size: 250%;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  line-height: 75px;
}


.rank-num {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  line-height: 75px;
  margin-top: 450px;
  text-align: right;
}

/* .bg-text {
    background-color: grey;
} */

.topic-txt {
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
  
}

.ltr-border {
  background-color: transparent;
  width: 100px;
  border: 2px solid white;
  
  padding: 30px;
  margin: 20px;
  text-align: center;
}

.ltr-border-shadow {
  -webkit-box-shadow: 10px 10px 30px 22px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 30px 22px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 30px 22px rgba(0,0,0,0.15);
}

.centered {
  position: fixed;
  margin-top: 85px;
  /* float: center; */
}

.num-center {
  text-align: center;
  margin-top: 300px;
}

.slide-right {
  width:100%;
  overflow:hidden;
}

.slide-right p {
  animation: 1s slide-right;
}

@keyframes slide-right {
  from {
      margin-left: -100%;
      width: 300%; 
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}

/* svg{
    clear:both;
  } */
  
  #balls{
    position:relative;
    height:175px;
    width:456px;
  }
  
  #balls .ball{
    width:6%;
    height:16%;
    margin:0;
    padding:0;
    display:block;
    border-radius:50%;
    position:absolute;
    top:66px;
    left:0px;
    margin-top: 50px;
  }
  
  .box .one{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    -webkit-animation: moveXone 0.5s linear 0s infinite alternate, moveYone 0.5s linear 0s infinite alternate;
    animation: moveXone 0.5s linear 0s infinite alternate, moveYone 0.5s linear 0s infinite alternate;
  }

  .box2 .one{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    -webkit-animation: moveXone 0.5s linear 0s infinite alternate, moveYone 0.5s linear 0s infinite alternate;
    animation: moveXone 0.5s linear 0s infinite alternate, moveYone 0.5s linear 0s infinite alternate;
  }

  @-webkit-keyframes moveXone {
    from { left: 70px; } to { right: 150px; }
  }
  @keyframes moveXone {
    from { left: 70px; } to { right: 150px; }
  }
  @-webkit-keyframes moveYone {
    from { top: -50px; } to { top: 40px; }
  }
  @keyframes moveYone {
    from { top: -50px; } to { top: 40px; }
  }
  
  .box .two{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    position: absolute;
    -webkit-animation: moveXtwo 0.5s linear 0s infinite alternate, moveYtwo 0.5s linear 0s infinite alternate;
    animation: moveXtwo 0.5s linear 0s infinite alternate, moveYtwo 0.5s linear 0s infinite alternate;
  }

  .box2 .two{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    position: absolute;
    -webkit-animation: moveXtwo 0.5s linear 0s infinite alternate, moveYtwo 0.5s linear 0s infinite alternate;
    animation: moveXtwo 0.5s linear 0s infinite alternate, moveYtwo 0.5s linear 0s infinite alternate;
  }

  @-webkit-keyframes moveXtwo {
    from { right: 50px; } to { left: 80px; }
  }
  @keyframes moveXtwo {
    from { right: 50px; } to { left: 80px; }
  }
  @-webkit-keyframes moveYtwo {
    from { top: 0; } to { right: 80px; }
  }
  @keyframes moveYtwo {
    from { top: 0; } to { right: 80px; }
  }
  
  .box .three{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    position: absolute;
    -webkit-animation: moveXthree 0.5s linear 0s infinite alternate, moveYthree 0.5s linear 0s infinite alternate;
    animation: moveXthree 0.5s linear 0s infinite alternate, moveYthree 0.5s linear 0s infinite alternate;
  }

  .box2 .three{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    position: absolute;
    -webkit-animation: moveXthree 0.5s linear 0s infinite alternate, moveYthree 0.5s linear 0s infinite alternate;
    animation: moveXthree 0.5s linear 0s infinite alternate, moveYthree 0.5s linear 0s infinite alternate;
  }

  @-webkit-keyframes moveXthree {
    from { right: 100px; } to { left: 100px; }
  }
  @keyframes moveXthree {
    from { right: 100px; } to { left: 100px; }
  }
  @-webkit-keyframes moveYthree {
    from { top: -30px; } to { top: -30px; }
  }
  @keyframes moveYthree {
    from { top: -30px; } to { top: -30px; }
  }

  
  .box .four{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(80px);

    position: absolute;
    -webkit-animation: moveXfour 0.5s linear 0s infinite alternate, moveYfour 0.5s linear 0s infinite alternate;
    animation: moveXfour 0.5s linear 0s infinite alternate, moveYfour 0.5s linear 0s infinite alternate;
  }

  .box2 .four{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(80px);

    position: absolute;
    -webkit-animation: moveXfour 0.5s linear 0s infinite alternate, moveYfour 0.5s linear 0s infinite alternate;
    animation: moveXfour 0.5s linear 0s infinite alternate, moveYfour 0.5s linear 0s infinite alternate;
  }

  /* @-webkit-keyframes moveXfour {
    from { right: 0px; } to { left: 80px; }
  }
  @keyframes moveXfour {
    from { right: 0px; } to { left: 80px; }
  } */
  @-webkit-keyframes moveYfour {
    from { top: -50px; } to { top: 80px; }
  }
  @keyframes moveYfour {
    from { top: -50px; } to { top: 80px; }
  }

  .box .five{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(10px);

    position: absolute;
    -webkit-animation: moveXfive 0.5s linear 0s infinite alternate, moveYfive 0.5s linear 0s infinite alternate;
    animation: moveXfive 0.5s linear 0s infinite alternate, moveYfive 0.5s linear 0s infinite alternate;
  }
  
  .box2 .five{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(10px);

    position: absolute;
    -webkit-animation: moveXfive 0.5s linear 0s infinite alternate, moveYfive 0.5s linear 0s infinite alternate;
    animation: moveXfive 0.5s linear 0s infinite alternate, moveYfive 0.5s linear 0s infinite alternate;
  } 

  @-webkit-keyframes moveXfive {
    from { left: 90px; } to { right: 100px; }
  }
  @keyframes moveXfive {
    from { left: 90px; } to { right: 100px; }
  }
  @-webkit-keyframes moveYfive {
    from { top: 50px; } to { top: 40px; }
  }
  @keyframes moveYfive {
    from { top: 50px; } to { top: 40px; }
  }


  .box .six{
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    position: absolute;
    -webkit-animation: moveXsix 0.5s linear 0s infinite alternate, moveYsix 0.5s linear 0s infinite alternate;
    animation: moveXsix 0.5s linear 0s infinite alternate, moveYsix 0.5s linear 0s infinite alternate;
  }

  .box2 .six{
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    position: absolute;
    -webkit-animation: moveXsix 0.5s linear 0s infinite alternate, moveYsix 0.5s linear 0s infinite alternate;
    animation: moveXsix 0.5s linear 0s infinite alternate, moveYsix 0.5s linear 0s infinite alternate;
  }

  @-webkit-keyframes moveXsix {
    from { right: 80px; } to { left: 80px; }
  }
  @keyframes moveXsix {
    from { right: 80px; } to { left: 80px; }
  }
  @-webkit-keyframes moveYsix {
    from { top: 60px; } to { top: -50px; }
  }
  @keyframes moveYsix {
    from { top: 60px; } to { top: -50px; }
  }

  .box .seven{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    position: absolute;
    -webkit-animation: moveXseven 0.5s linear 0s infinite alternate, moveYseven 0.5s linear 0s infinite alternate;
    animation: moveXseven 0.5s linear 0s infinite alternate, moveYseven 0.5s linear 0s infinite alternate;
  }

  .box2 .seven{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    position: absolute;
    -webkit-animation: moveXseven 0.5s linear 0s infinite alternate, moveYseven 0.5s linear 0s infinite alternate;
    animation: moveXseven 0.5s linear 0s infinite alternate, moveYseven 0.5s linear 0s infinite alternate;
  }

  @-webkit-keyframes moveXseven {
    from { left: 80px; } to { right: 100px; }
  }
  @keyframes moveXseven {
    from { left: 80px; } to { right: 100px; }
  }
  @-webkit-keyframes moveYseven {
    from { top: 70px; } to { top: -20px; }
  }
  @keyframes moveYseven {
    from { top: 70px; } to { top: -20px; }
  }

  .box .eight{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(40px);

    position: absolute;
    -webkit-animation: moveXeight 0.5s linear 0s infinite alternate, moveYeight 0.5s linear 0s infinite alternate;
    animation: moveXeight 0.5s linear 0s infinite alternate, moveYeight 0.5s linear 0s infinite alternate;
  }

  .box2 .eight{
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(40px);

    position: absolute;
    -webkit-animation: moveXeight 0.5s linear 0s infinite alternate, moveYeight 0.5s linear 0s infinite alternate;
    animation: moveXeight 0.5s linear 0s infinite alternate, moveYeight 0.5s linear 0s infinite alternate;
  }

  /* @-webkit-keyframes moveXeight {
    from { right: 80px; } to { left: 50px; }
  }
  @keyframes moveXeight {
    from { right: 80px; } to { left: 50px; }
  } */
  @-webkit-keyframes moveYeight {
    from { top: 70px; } to { top: -40px; }
  }
  @keyframes moveYeight {
    from { top: 70px; } to { top: -40px; }
  }

  .box .nine{
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(40px);

    position: absolute;
    -webkit-animation: moveXnine 0.5s linear 0s infinite alternate, moveYnine 0.5s linear 0s infinite alternate;
    animation: moveXnine 0.5s linear 0s infinite alternate, moveYnine 0.5s linear 0s infinite alternate;
  } 

  .box2 .nine{
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(40px);

    position: absolute;
    -webkit-animation: moveXnine 0.5s linear 0s infinite alternate, moveYnine 0.5s linear 0s infinite alternate;
    animation: moveXnine 0.5s linear 0s infinite alternate, moveYnine 0.5s linear 0s infinite alternate;
  } 

  @-webkit-keyframes moveXnine {
    from { right: 100px; } to { left: 80px; }
  }
  @keyframes moveXnine {
    from { right: 100px; } to { left: 80px; }
  }
  @-webkit-keyframes moveYnine {
    from { top: 70px; } to { top: -30px; }
  }
  @keyframes moveYnine {
    from { top: 70px; } to { top: -30px; }
  }

  .box .zero{
    /* background-color: grey; */
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:1040px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(70px);

    position: absolute;
    -webkit-animation: moveXzero 0.55s linear 0s infinite alternate, moveYzero 0.5s linear 0s infinite alternate;
    animation: moveXzero 0.5s linear 0s infinite alternate, moveYzero 0.5s linear 0s infinite alternate;
  }
  
  .box2 .zero{
    /* background-color: grey; */
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:1040px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: transform 1s;
    transform: translateX(70px);

    position: absolute;
    -webkit-animation: moveXzero 0.55s linear 0s infinite alternate, moveYzero 0.5s linear 0s infinite alternate;
    animation: moveXzero 0.5s linear 0s infinite alternate, moveYzero 0.5s linear 0s infinite alternate;
  }

  @-webkit-keyframes moveXzero {
    from { right: 50px; } to { left: 80px; }
  }
  @keyframes moveXzero {
    from { right: 50px; } to { left: 80px; }
  }
  @-webkit-keyframes moveYzero {
    from { left: 50px; } to { top: -50px; }
  }
  @keyframes moveYzero {
    from { left: 50px; } to { top: -50px; }
  }
 /* ----------------------------bg-color-------------------------------- */

 .yellow-bg{
  background-color:rgb(255, 255, 93) !important;
}

  .orange-bg{
    background-color:orange !important;
  }

  .red-bg{
    background-color:rgb(243, 71, 71) !important;
  }

  .pink-bg{
    background-color:pink !important;
  }

  .purple-bg{
    background-color:purple !important;
  }

  .blue-bg{
    background-color:rgb(62, 178, 255) !important;
  }

  .green-bg{
    background-color:rgb(57, 172, 57) !important;
  }

  .brown-bg{
    background-color:brown !important;
  }

  .black-bg{
    background-color:black !important;
  }

  .grey-bg{
    background-color:grey !important;
  }


  /* ----------------------- ball in box ---------------------------- */

  .box {
    background-color: transparent;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-left: 12%;
    position: relative;
    box-shadow: inset 0 0 3px #000;
    border-radius: 50%;
    border: 1px solid #FFF;
    overflow: hidden;

    -webkit-box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
    box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
  }

  .box2 {
    background-color: transparent;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-left: 12%;
    position: relative;
    box-shadow: inset 0 0 3px #000;
    border-radius: 0% !important;
    border: 1px solid #FFF;
    overflow: hidden;

    -webkit-box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
    box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
  }



  /* ------------------ num --------------------*/

  #num_size{
  position: fixed;   
  margin-top: 300px;
  min-width: 10%;
  min-height: 10%;
  display: inline-block;
    
  }
  