.topic-txt {
  text-align: center;
  font-size: 200%; 
  /* text-shadow: 4px -4px 4px #CE5937; */
  margin-top: 50px;
  
}

.ltr-border {
  background-color: transparent;
  width: 100px;
  border: 2px solid white;
  
  padding: 30px;
  margin: 20px;
  text-align: center;
}

.ltr-border-shadow {
  -webkit-box-shadow: 10px 10px 30px 22px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 30px 22px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 30px 22px rgba(0,0,0,0.15);
}

.centered {
  position: fixed;
  margin-top: 85px;
  /* float: center; */
}

.num-center {
  text-align: center;
  margin-top: 300px;
}

svg{
    clear:both;
  }
  
  #balls{
    position:relative;
    height:175px;
    width:456px;
  }
  
  #balls .ball{
    width:27px;
    height:27px;
    margin:0;
    padding:0;
    display:block;
    border-radius:50%;
    position:absolute;
    top:66px;
    left:0px;
    margin-top: 50px;
  }
  
  .box .one{
    background-color:rgb(255, 255, 93) !important;
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */

    left:583px;
    animation: bounces 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXone 3.05s linear 0s infinite alternate, moveYone 3.4s linear 0s infinite alternate;
    -moz-animation: moveXone 3.05s linear 0s infinite alternate, moveYone 3.4s linear 0s infinite alternate;
    -o-animation: moveXone 3.05s linear 0s infinite alternate, moveYone 3.4s linear 0s infinite alternate;
    animation: moveXone 3.05s linear 0s infinite alternate, moveYone 3.4s linear 0s infinite alternate;
  }
  
  .box .two{
    background-color: orange;
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:636px;
    animation: bouncess 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXtwo 3.05s linear 0s infinite alternate, moveYtwo 3.4s linear 0s infinite alternate;
    -moz-animation: moveXtwo 3.05s linear 0s infinite alternate, moveYtwo 3.4s linear 0s infinite alternate;
    -o-animation: moveXtwo 3.05s linear 0s infinite alternate, moveYtwo 3.4s linear 0s infinite alternate;
    animation: moveXtwo 3.05s linear 0s infinite alternate, moveYtwo 3.4s linear 0s infinite alternate;
  }
  
  .box .three{
    background-color: rgb(243, 71, 71);
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    left:689px;
    animation: bouncesss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXthree 3.05s linear 0s infinite alternate, moveYthree 3.4s linear 0s infinite alternate;
    -moz-animation: moveXthree 3.05s linear 0s infinite alternate, moveYthree 3.4s linear 0s infinite alternate;
    -o-animation: moveXthree 3.05s linear 0s infinite alternate, moveYthree 3.4s linear 0s infinite alternate;
    animation: moveXthree 3.05s linear 0s infinite alternate, moveYthree 3.4s linear 0s infinite alternate;
  }
  
  .box .four{
    background-color: pink;
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:743px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXfour 3.05s linear 0s infinite alternate, moveYfour 3.4s linear 0s infinite alternate;
    -moz-animation: moveXfour 3.05s linear 0s infinite alternate, moveYfour 3.4s linear 0s infinite alternate;
    -o-animation: moveXfour 3.05s linear 0s infinite alternate, moveYfour 3.4s linear 0s infinite alternate;
    animation: moveXfour 3.05s linear 0s infinite alternate, moveYfour 3.4s linear 0s infinite alternate;
  }

  .box .five{
    background-color: purple;
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:797px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXfive 3.05s linear 0s infinite alternate, moveYfive 3.4s linear 0s infinite alternate;
    -moz-animation: moveXfive 3.05s linear 0s infinite alternate, moveYfive 3.4s linear 0s infinite alternate;
    -o-animation: moveXfive 3.05s linear 0s infinite alternate, moveYfive 3.4s linear 0s infinite alternate;
    animation: moveXfive 3.05s linear 0s infinite alternate, moveYfive 3.4s linear 0s infinite alternate;
  } 

  .box .six{
    background-color: rgb(62, 178, 255);
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:851px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 3.5s;

    position: absolute;
    -webkit-animation: moveXsix 3.05s linear 0s infinite alternate, moveYsix 3.4s linear 0s infinite alternate;
    -moz-animation: moveXsix 3.05s linear 0s infinite alternate, moveYsix 3.4s linear 0s infinite alternate;
    -o-animation: moveXsix 3.05s linear 0s infinite alternate, moveYsix 3.4s linear 0s infinite alternate;
    animation: moveXsix 3.05s linear 0s infinite alternate, moveYsix 3.4s linear 0s infinite alternate;
  }

  .box .seven{
    background-color: rgb(57, 172, 57);
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:905px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXseven 3.05s linear 0s infinite alternate, moveYseven 3.4s linear 0s infinite alternate;
    -moz-animation: moveXseven 3.05s linear 0s infinite alternate, moveYseven 3.4s linear 0s infinite alternate;
    -o-animation: moveXseven 3.05s linear 0s infinite alternate, moveYseven 3.4s linear 0s infinite alternate;
    animation: moveXseven 3.05s linear 0s infinite alternate, moveYseven 3.4s linear 0s infinite alternate;
  }

  .box .eight{
    background-color: brown;
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:959px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXeight 3.05s linear 0s infinite alternate, moveYeight 3.4s linear 0s infinite alternate;
    -moz-animation: moveXeight 3.05s linear 0s infinite alternate, moveYeight 3.4s linear 0s infinite alternate;
    -o-animation: moveXeight 3.05s linear 0s infinite alternate, moveYeight 3.4s linear 0s infinite alternate;
    animation: moveXeight 3.05s linear 0s infinite alternate, moveYeight 3.4s linear 0s infinite alternate;
  }

  .box .nine{
    background-color: black;
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:1013px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXnine 3.05s linear 0s infinite alternate, moveYnine 3.4s linear 0s infinite alternate;
    -moz-animation: moveXnine 3.05s linear 0s infinite alternate, moveYnine 3.4s linear 0s infinite alternate;
    -o-animation: moveXnine 3.05s linear 0s infinite alternate, moveYnine 3.4s linear 0s infinite alternate;
    animation: moveXnine 3.05s linear 0s infinite alternate, moveYnine 3.4s linear 0s infinite alternate;
  } 

  .box .zero{
    background-color: grey;
    /* background-image: linear-gradient(to top, #537895 0%, #09203f 100%); */
    left:1040px;
    animation: bouncessss 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

    position: absolute;
    -webkit-animation: moveXzero 3.05s linear 0s infinite alternate, moveYzero 3.4s linear 0s infinite alternate;
    -moz-animation: moveXzero 3.05s linear 0s infinite alternate, moveYzero 3.4s linear 0s infinite alternate;
    -o-animation: moveXzero 3.05s linear 0s infinite alternate, moveYzero 3.4s linear 0s infinite alternate;
    animation: moveXzero 3.05s linear 0s infinite alternate, moveYzero 3.4s linear 0s infinite alternate;
  } 
  
  
  @keyframes bounces {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 30px, 0); }
  }

  @keyframes bouncess {
    from { transform: translate3d(0, 0px, 0);     }
    to   { transform: translate3d(0, 30px, 0px); }
  }

  @keyframes bouncesss {
    from { transform: translate3d(0, 0px, 0);     }
    to   { transform: translate3d(0, 30px, 0px); }
  }

  @keyframes bouncessss {
    from { transform: translate3d(0, 0px, 0);     }
    to   { transform: translate3d(0, 30px, 0px); }
  }

  /* ----------------------- ball in box ---------------------------- */

  .box {
    background-color: transparent;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
    box-shadow: inset 0 0 3px #000;
    border-radius: 50%;
    border: 1px solid #111;
    overflow: hidden;

    -webkit-box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
    box-shadow: inset 10px 10px 30px 22px rgba(0,0,0,0.15);
  }

  @-webkit-keyframes moveXone {
    from { right: 30px; } to { left: 30px; }
  }
  @-moz-keyframes moveXone {
    from { right: 30px; } to { left: 30px; }
  }
  @-o-keyframes moveXone {
    from { right: 30px; } to { left: 30px; }
  }
  @keyframes moveXone {
    from { right: 30px; } to { left: 30px; }
  }
  @-webkit-keyframes moveYone {
    from { top: 10px; } to { top: 80px; }
  }
  @-moz-keyframes moveYone {
    from { top: 10px; } to { top: 80px; }
  }
  @-o-keyframes moveYone {
    from { top: 10px; } to { top: 80px; }
  }
  @keyframes moveYone {
    from { top: 10px; } to { top: 80px; }
  }


  @-webkit-keyframes moveXtwo {
    from { left: 50px; } to { top: 80px; }
  }
  @-moz-keyframes moveXtwo {
    from { left: 50px; } to { top: 80px; }
  }
  @-o-keyframes moveXtwo {
    from { left: 50px; } to { top: 80px; }
  }
  @keyframes moveXtwo {
    from { left: 50px; } to { top: 80px; }
  }
  @-webkit-keyframes moveYtwo {
    from { top: 0; } to { right: 80px; }
  }
  @-moz-keyframes moveYtwo {
    from { top: 0; } to { right: 80px; }
  }
  @-o-keyframes moveYtwo {
    from { top: 0; } to { right: 80px; }
  }
  @keyframes moveYtwo {
    from { top: 0; } to { right: 80px; }
  }

  @-webkit-keyframes moveXthree {
    from { left: 50px; } to { right: 80px; }
  }
  @-moz-keyframes moveXthree {
    from { left: 50px; } to { right: 80px; }
  }
  @-o-keyframes moveXthree {
    from { left: 50px; } to { right: 80px; }
  }
  @keyframes moveXthree {
    from { left: 50px; } to { right: 80px; }
  }
  @-webkit-keyframes moveYthree {
    from { right: 0; } to { bottom: 80px; }
  }
  @-moz-keyframes moveYthree {
    from { right: 0; } to { bottom: 80px; }
  }
  @-o-keyframes moveYthree {
    from { right: 0; } to { bottom: 80px; }
  }
  @keyframes moveYthree {
    from { right: 0; } to { bottom: 80px; }
  }


  @-webkit-keyframes moveXfour {
    from { right: 0px; } to { left: 80px; }
  }
  @-moz-keyframes moveXfour {
    from { right: 0px; } to { left: 80px; }
  }
  @-o-keyframes moveXfour {
    from { right: 0px; } to { left: 80px; }
  }
  @keyframes moveXfour {
    from { right: 0px; } to { left: 80px; }
  }
  @-webkit-keyframes moveYfour {
    from { bottom: 0; } to { top: 80px; }
  }
  @-moz-keyframes moveYfour {
    from { bottom: 0; } to { top: 80px; }
  }
  @-o-keyframes moveYfour {
    from { bottom: 0; } to { top: 80px; }
  }
  @keyframes moveYfour {
    from { bottom: 0; } to { top: 80px; }
  }

  @-webkit-keyframes moveXfive {
    from { right: 80px; } to { left: 80px; }
  }
  @-moz-keyframes moveXfive {
    from { right: 80px; } to { left: 80px; }
  }
  @-o-keyframes moveXfive {
    from { right: 80px; } to { left: 80px; }
  }
  @keyframes moveXfive {
    from { right: 80px; } to { left: 80px; }
  }
  @-webkit-keyframes moveYfive {
    from { top: -30px; } to { top: 80px; }
  }
  @-moz-keyframes moveYfive {
    from { top: -30px; } to { top: 80px; }
  }
  @-o-keyframes moveYfive {
    from { top: -30px; } to { top: 80px; }
  }
  @keyframes moveYfive {
    from { top: -30px; } to { top: 80px; }
  }

  @-webkit-keyframes moveXsix {
    from { right: 80px; } to { left: 80px; }
  }
  @-moz-keyframes moveXsix {
    from { right: 80px; } to { left: 80px; }
  }
  @-o-keyframes moveXsix {
    from { right: 80px; } to { left: 80px; }
  }
  @keyframes moveXsix {
    from { right: 80px; } to { left: 80px; }
  }
  @-webkit-keyframes moveYsix {
    from { top: 80px; } to { top: -30px; }
  }
  @-moz-keyframes moveYsix {
    from { top: 80px; } to { top: -30px; }
  }
  @-o-keyframes moveYsix {
    from { top: 80px; } to { top: -30px; }
  }
  @keyframes moveYsix {
    from { top: 80px; } to { top: -30px; }
  }

  @-webkit-keyframes moveXseven {
    from { right: 80px; } to { left: 100px; }
  }
  @-moz-keyframes moveXseven {
    from { right: 80px; } to { left: 100px; }
  }
  @-o-keyframes moveXseven {
    from { right: 80px; } to { left: 100px; }
  }
  @keyframes moveXseven {
    from { right: 80px; } to { left: 100px; }
  }
  @-webkit-keyframes moveYseven {
    from { top: 30px; } to { top: -30px; }
  }
  @-moz-keyframes moveYseven {
    from { top: 30px; } to { top: -30px; }
  }
  @-o-keyframes moveYseven {
    from { top: 30px; } to { top: -30px; }
  }
  @keyframes moveYseven {
    from { top: 30px; } to { top: -30px; }
  }

  @-webkit-keyframes moveXeight {
    from { right: 80px; } to { left: 50px; }
  }
  @-moz-keyframes moveXeight {
    from { right: 80px; } to { left: 50px; }
  }
  @-o-keyframes moveXeight {
    from { right: 80px; } to { left: 50px; }
  }
  @keyframes moveXeight {
    from { right: 80px; } to { left: 50px; }
  }
  @-webkit-keyframes moveYeight {
    from { top: 40px; } to { top: 0px; }
  }
  @-moz-keyframes moveYeight {
    from { top: 40px; } to { top: 0px; }
  }
  @-o-keyframes moveYeight {
    from { top: 40px; } to { top: 0px; }
  }
  @keyframes moveYeight {
    from { top: 40px; } to { top: 0px; }
  }

  @-webkit-keyframes moveXnine {
    from { right: -80px; } to { left: 50px; }
  }
  @-moz-keyframes moveXnine {
    from { right: -80px; } to { left: 50px; }
  }
  @-o-keyframes moveXnine {
    from { right: -80px; } to { left: 50px; }
  }
  @keyframes moveXnine {
    from { right: -80px; } to { left: 50px; }
  }
  @-webkit-keyframes moveYnine {
    from { top: 30px; } to { top: -30px; }
  }
  @-moz-keyframes moveYnine {
    from { top: 30px; } to { top: -30px; }
  }
  @-o-keyframes moveYnine {
    from { top: 30px; } to { top: -30px; }
  }
  @keyframes moveYnine {
    from { top: 30px; } to { top: -30px; }
  }

  @-webkit-keyframes moveXzero {
    from { right: 80px; } to { left: 50px; }
  }
  @-moz-keyframes moveXzero {
    from { right: 80px; } to { left: 50px; }
  }
  @-o-keyframes moveXzero {
    from { right: 80px; } to { left: 50px; }
  }
  @keyframes moveXzero {
    from { right: 80px; } to { left: 50px; }
  }
  @-webkit-keyframes moveYzero {
    from { top: 30px; } to { top: -70px; }
  }
  @-moz-keyframes moveYzero {
    from { top: 30px; } to { top: -70px; }
  }
  @-o-keyframes moveYzero {
    from { top: 30px; } to { top: -70px; }
  }
  @keyframes moveYzero {
    from { top: 30px; } to { top: -70px; }
  }

  /* ------------------ num --------------------*/

  #num_size{
  position: fixed;   
  margin-top: 300px;
  min-width: 10%;
  min-height: 10%;
  display: inline-block;
    
  }
    

  